<!DOCTYPE html>
<html lang="zxx">


<head>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <!-- Title -->
    <title>Home Page</title>

    <!-- Favicon -->
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/ad214375d6.js" crossorigin="anonymous"></script>

    <!-- Mobile Menu -->
    <link href="../css/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="../css/mmenu.positioning.css" rel="stylesheet" type="text/css" />

    <!-- Responsive Table -->
    <link rel="stylesheet" type="text/css" href="../css/responsivetable.css" />

    <!-- Stylesheet -->
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <style>
        @media only screen and (max-width: 600px) {
            th {
                display: none;
            }
        }
    </style>
</head>

<body>

    <!-- Start: Header Section -->
    <header id="header-v1" class="navbar-wrapper inner-navbar-wrapper">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="navbar-header">
                                <div class="navbar-brand">
                                    <h1>
                                        <a href="iiti.ac.in">
                                            <img style="width: 150px; height: 60px;"
                                                src="https://admin.google.com/u/1/ac/images/logo.gif?uid=118001285387843873635&service=google_gsuite"
                                                alt="LIBRARY" />
                                        </a>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- Header Topbar -->
                            <div class="header-topbar hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="topbar-info">
                                            <a href="tel:0731-6603424"><i class="fa fa-phone"></i>0731-6603424</a>
                                            <span>/</span>
                                            <a href="mailto:library@iiti.ac.in"><i
                                                    class="fa fa-envelope"></i>library@iiti.ac.in</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="topbar-links">
                                            <a href="<%=path%>auth/logout"><i class="fa fa-lock"></i>Log Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-collapse hidden-sm hidden-xs">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled"
                                            href="<%=path%>user/books">Books</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled"
                                            href="<%=path%>user/friends">Find Friends</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu hidden-lg hidden-md">
                        <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                        <div id="mobile-menu">
                            <ul>
                                <li class="mobile-title">
                                    <h4>Navigation</h4>
                                    <a href="#" class="close"></a>
                                </li>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="<%=path%>user/temp">Books</a>
                                </li>
                                <li>
                                    <a href="<%=path%>user/friends">Find Friends</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End: Header Section -->

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2> User </h2>
                <span class="underline center"></span>
                <p class="lead">A room without books is like a body without soul.</p>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->


    <!-- Start: Products Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="booksmedia-detail-main">
                    <div class="container">
                        <div class="row">
                            <section class="search-filters">

                            </section>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <div class="booksmedia-detail-box">
        <div class="table-tabs" id="responsiveTabs">
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th> Data </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <%=name%>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>UserID</td>
                                <td>
                                    <%=userid%>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>
                                    <%=address%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="cart-main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div class="woocommerce table-tabs" id="responsiveTabs">
                                            <ul class="nav nav-tabs" style="width: -moz-fit-content; width: fit-content; margin: auto;">
                                                <li class="active"><b class="arrow-up"></b><a data-toggle="tab"
                                                        href="#sectionZ">Books on loan (<%=loanbook[0].length%>) </a>
                                                </li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">Books
                                                        already read (<%=booksread.length%>) </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab"
                                                        href="#sectionC">Favorite Books (<%=favourite[0].length%>) </a>
                                                </li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionD">Active
                                                        hold requests (<%=activeholds[0].length%>) </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab"
                                                        href="#sectionE">Approved Holds (<%=apprholds[0].length%>) </a>
                                                </li>

                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionF">Friend
                                                        requests (<%=freq.length%>) </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab"
                                                        href="#sectionG">Friends reading list (<%=len%>) </a></li>
                                                <!-- <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionH">Pay Fines</a></li> -->
                                            </ul>

                                            <div class="tab-content">
                                                <div id="sectionZ" class="tab-pane fade in active">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Sr. No.</th>
                                                                    <th class="product-name">Title</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%let i=1;loanbook[0].forEach(book=>{%>

                                                                    <tr class="cart_item">
                                                                        <td>
                                                                            <%=i%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img style="width: 150px;"
                                                                                        src="<%=book.image%>"
                                                                                        alt="cart-product-1"></a>
                                                                            </span>
                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>
                                                                                        <%=book.title%>
                                                                                    </strong></a>
                                                                                <span>
                                                                                    <strong>By: </strong>
                                                                                    <%=book.authors%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>ISBN: </strong>
                                                                                    <%=book.ISBN%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>ISBN: </strong>
                                                                                    <%=book.dueDate%>
                                                                                </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%i++;})%>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>

                                                <div id="sectionB" class="tab-pane fade in">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Sr. No.</th>
                                                                    <th class="product-name">Title</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%let j=1;booksread.forEach(book=>{%>

                                                                    <tr class="cart_item">
                                                                        <td>
                                                                            <%=j%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img style="width: 150px;"
                                                                                        src="<%=book.image%>"
                                                                                        alt="cart-product-1"></a>
                                                                            </span>
                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>
                                                                                        <%=book.title%>
                                                                                    </strong></a>
                                                                                <span>
                                                                                    <strong>By: </strong>
                                                                                    <%=book.authors%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>ISBN: </strong>
                                                                                    <%=book.ISBN%>
                                                                                </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%j++;})%>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>

                                                <div id="sectionC" class="tab-pane fade in">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Sr. No.</th>
                                                                    <th class="product-name">Title</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%let k=1;favourite[0].forEach(book=>{%>

                                                                    <tr class="cart_item">
                                                                        <td>
                                                                            <%=k%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img style="width: 150px;"
                                                                                        src="<%=book.image%>"
                                                                                        alt="cart-product-1"></a>
                                                                            </span>
                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>
                                                                                        <%=book.title%>
                                                                                    </strong></a>
                                                                                <span>
                                                                                    <strong>By: </strong>
                                                                                    <%=book.authors%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>ISBN: </strong>
                                                                                    <%=book.ISBN%>
                                                                                </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%k++;})%>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>

                                                <div id="sectionE" class="tab-pane fade in">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Sr. No.</th>
                                                                    <th class="product-name">Title</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%let n=1;apprholds[0].forEach(book=>{%>

                                                                    <tr class="cart_item">
                                                                        <td>
                                                                            <%=n%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img style="width: 150px;"
                                                                                        src="<%=book.image%>"
                                                                                        alt="cart-product-1"></a>
                                                                            </span>
                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>
                                                                                        <%=book.title%>
                                                                                    </strong></a>
                                                                                <span>
                                                                                    <strong>By: </strong>
                                                                                    <%=book.authors%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>ISBN: </strong>
                                                                                    <%=book.ISBN%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>Due Date: </strong>
                                                                                    <%=book.dueDate%>
                                                                                </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%n++;})%>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>
                                                <div id="sectionD" class="tab-pane fade in">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Sr. No.</th>
                                                                    <th class="product-name">Title</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%let l=1;activeholds[0].forEach(book=>{%>

                                                                    <tr class="cart_item">
                                                                        <td>
                                                                            <%=l%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img style="width: 150px;"
                                                                                        src="<%=book.image%>"
                                                                                        alt="cart-product-1"></a>
                                                                            </span>
                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>
                                                                                        <%=book.title%>
                                                                                    </strong></a>
                                                                                <span>
                                                                                    <strong>By: </strong>
                                                                                    <%=book.authors%>
                                                                                </span>
                                                                                <span>
                                                                                    <strong>ISBN: </strong>
                                                                                    <%=book.ISBN%>
                                                                                </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%l++;})%>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>

                                                <div id="sectionF" class="tab-pane fade in">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Sr. No.</th>
                                                                    <th class="product-name">Name</th>
                                                                    <th class="product-quantity">UserID</th>
                                                                    <th class="product-quantity">Address</th>
                                                                    <th class="product-quantity">Action</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%let m=1;freq.forEach(user=>{%>

                                                                    <tr class="cart_item">
                                                                        <td>
                                                                            <%=m%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <strong>
                                                                                    <%=user.name%>
                                                                                </strong>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <strong>
                                                                                    <%=user.userID%>
                                                                                </strong>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <strong>
                                                                                    <%=user.address%>
                                                                                </strong>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="action" class="product-action">
                                                                            <i title='accept request'
                                                                                style="cursor: pointer; font-size: x-large; color: #6f6fe8"
                                                                                class='<%=user.userID%> fas fa-user-plus respond'></i>
                                                                        </td>
                                                                    </tr>`
                                                                    <%m++;})%>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>

                                                <div id="sectionG" class="tab-pane fade in">

                                                    <form onsubmit="e =>{e.preventDefault()}" class="searchform">
                                                        <div class="col-md-4 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="sr-only" for="keywords"> Search by Name or
                                                                    book</label>
                                                                <input onkeyup="searchName()" class="form-control"
                                                                    placeholder="Search by book or friend's name"
                                                                    id="search" name="keywords" type="text">
                                                            </div>
                                                        </div>


                                                    </form>
                                                    <table class="table table-bordered shop_table cart">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-name">&nbsp;</th>
                                                                <th class="product-name">Friend</th>
                                                                <th class="product-quantity">Title</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%let q=1;freadlist.forEach(friendbooks=> {%>
                                                                <%friendbooks.forEach(book=>{%>
                                                                    <tr class="cart_item friendbook">
                                                                        <td>
                                                                            <%=q%>.
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-detail">
                                                                                <span><strong>Name :</strong><span
                                                                                        class="friendname">
                                                                                        <%=book.name%>
                                                                                    </span></span>
                                                                                <span><strong>UserID :</strong>
                                                                                    <%=book.userID%>
                                                                                </span>
                                                                                
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img style="width: 150px;"
                                                                                        src="<%=book.image%>"
                                                                                        alt="cart-product-3"></a>
                                                                            </span>
                                                                            <span class="product-detail">
                                                                                <a
                                                                                    href="<%=path%>user/books?search=<%=book.title%>"><strong
                                                                                        class="bookname">
                                                                                        <%=book.title%>
                                                                                    </strong></a>
                                                                                <span><strong>Author :</strong>
                                                                                    <%=book.authors%>
                                                                                </span>
                                                                                <span><strong>ISBN :</strong>
                                                                                    <%=book.ISBN%>
                                                                                </span>
                                                                                <!-- <span><strong>Rating :</strong> Ratings
                                                                                </span> -->
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%q++})})%>
                                                        </tbody>
                                                    </table>

                                                </div>

                                                <div id="sectionH" class="tab-pane fade in">
                                                    <form method="post" action="">
                                                        <table class="table table-bordered shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">&nbsp;</th>
                                                                    <th class="product-name">Title</th>
                                                                    <th class="product-quantity">Fine amount</th>
                                                                    <th class="product-quantity">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="cart_item">
                                                                    <td> 1. </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <span class="product-thumbnail">
                                                                            <a href="#"><img
                                                                                    src="../images/cart/cart-product-3.jpg"
                                                                                    alt="cart-product-3"></a>
                                                                        </span>
                                                                        <span class="product-detail">
                                                                            <a href="#"><strong> Title </strong></a>
                                                                            <span><strong>Author :</strong> Author
                                                                            </span>
                                                                            <span><strong>ISBN :</strong> ISBN </span>
                                                                            <span><strong>Rating :</strong> Ratings
                                                                            </span>
                                                                        </span>
                                                                    </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <span class="product-thumbnail">
                                                                            <strong> Fine Amount </strong>
                                                                        </span>
                                                                    </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group form-submit">
                                                                                <input class="btn btn-default"
                                                                                    id="pay_fine" type="button"
                                                                                    name="fine" value="Pay Fine" />
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="cart_item">
                                                                    <td> 2. </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <span class="product-thumbnail">
                                                                            <a href="#"><img
                                                                                    src="../images/cart/cart-product-1.jpg"
                                                                                    alt="cart-product-3"></a>
                                                                        </span>
                                                                        <span class="product-detail">
                                                                            <a href="#"><strong> Title </strong></a>
                                                                            <span><strong>Author :</strong> Author
                                                                            </span>
                                                                            <span><strong>ISBN :</strong> ISBN </span>
                                                                            <span><strong>Rating :</strong> Ratings
                                                                            </span>
                                                                        </span>
                                                                    </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <span class="product-thumbnail">
                                                                            <strong> Fine Amount </strong>
                                                                        </span>
                                                                    </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group form-submit">
                                                                                <input class="btn btn-default"
                                                                                    id="pay_fine" type="button"
                                                                                    name="fine" value="Pay Fine" />
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>




    <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title">Follow Us</h2>
                <span class="underline center"></span><br>
            </div>
            <ul>
                <li>
                    <a class="facebook" href="#" target="_blank">
                        <span>
                            <i class="fa fa-facebook-f"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" target="_blank">
                        <span>
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="google" href="#" target="_blank">
                        <span>
                            <i class="fa fa-google-plus"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="#" target="_blank">
                        <span>
                            <i class="fa fa-linkedin"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="youtube" href="#" target="_blank">
                        <span>
                            <i class="fa fa-youtube"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->


    <!-- Start: Footer -->
    <footer class="site-footer">
        <div class="container">
            <div id="footer-widgets">
                <div class="row">
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div id="text-2" class="widget widget_text">
                            <h3 class="footer-widget-title">About Library</h3>
                            <span class="underline left"></span>
                            <div class="textwidget">
                                Sometimes, you read a book and it fills you with this weird evangelical zeal, and you
                                become convinced that the shattered world will never be put back together unless and
                                until all living humans read the book.
                            </div>
                            <address>
                                <div class="info">
                                    <i class="fa fa-location-arrow"></i>
                                    <span> IIT Indore, Khandwa Road, SIMROL, <br> District : Indore  453552, Madhya
                                        Pradesh, India</span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:library@iiti.ac.in">library@iiti.ac.in</a></span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:0731-6603424">0731-6603424</a></span>
                                </div>
                            </address>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 widget-container">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h3 class="footer-widget-title">Quick Links</h3>
                            <span class="underline left"></span>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="<%=path%>user/books">Books</a>
                                    </li>
                                    <li>
                                        <a href="<%=path%>user/friends">Find Friends</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>

                </div>
            </div>
        </div>

    </footer>
    <!-- End: Footer -->

    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>

    <!-- jQuery Easing -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- Mobile Menu -->
    <script type="text/javascript" src="../js/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script type="text/javascript" src="../js/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>

    <!-- Facts Counter -->
    <script type="text/javascript" src="../js/facts.counter.min.js"></script>

    <!-- MixItUp - Category Filter -->
    <script type="text/javascript" src="../js/mixitup.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script type="text/javascript" src="../js/accordion.min.js"></script>

    <!-- Responsive Tabs -->
    <script type="text/javascript" src="../js/responsive.tabs.min.js"></script>

    <!-- Responsive Table -->
    <script type="text/javascript" src="../js/responsive.table.min.js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="../js/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script type="text/javascript" src="../js/carousel.swipe.min.js"></script>

    <!-- bxSlider -->
    <script type="text/javascript" src="../js/bxslider.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="../js/main.js"></script>
    <script>
        let path = window.location.origin;
        $(document).ready(() => {
            $(document).on('click', '.respond', e => {
                let friendid = ($(e.target).attr('class').split(' ')[0]);
                $.ajax({
                    type: 'POST',
                    url: path + '/user/approvefriend',
                    data: {
                        friendid
                    }, success: (response) => {
                        // $(e.target).css('display','none');
                        $(e.target).removeClass('fa-user-plus');
                        // $(e.target).removeClass('respond');
                        $(e.target).addClass('fa-check');
                        // $(e.target).addClass('unfriend');
                        $(e.target).css('color', '#8ec68e');
                        $(e.target).attr('title', 'accepted');
                        // console.log('approved');
                    }
                })

            })
        })

    </script>
    <script>
        function searchName() {
            var mess = (document.getElementById('search').value);
            mess=mess.toUpperCase();
            if (mess != '') {
                var i = 0;
                while (document.getElementsByClassName('friendbook')[i]) {
                    // console.log(document.getElementsByClassName('friendname')[i].innerHTML, document.getElementsByClassName('friendname')[i].innerHTML.indexOf(mess));
                    if (document.getElementsByClassName('friendname')[i].innerHTML.toUpperCase().indexOf(mess) != -1 || document.getElementsByClassName('bookname')[i].innerHTML.toUpperCase().indexOf(mess) != -1) {
                        document.getElementsByClassName('friendbook')[i].style.display = '';

                    }
                    else {
                        document.getElementsByClassName('friendbook')[i].style.display = 'none';
                    }
                    i = i + 1;
                }
            }
            else {
                var i = 0;
                while (document.getElementsByClassName('friendname')[i]) {
                    document.getElementsByClassName('friendbook')[i].style.display = '';

                    i = i + 1;
                }
            }
        }
    </script>
</body>


</html>