<!DOCTYPE html>
<html lang="zxx">
    

<head>        

        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

        <!-- Title -->

        <title>Books</title>


        <!-- Favicon -->
        <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Mobile Menu -->
        <link href="../css/mmenu.css" rel="stylesheet" type="text/css" />
        <link href="../css/mmenu.positioning.css" rel="stylesheet" type="text/css" />

        <!-- Responsive Table -->
        <link rel="stylesheet" type="text/css" href="../css/responsivetable.css" />

        <!-- Stylesheet -->
        <link href="../style.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/ad214375d6.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- Start: Header Section -->
        <header id="header-v1" class="navbar-wrapper inner-navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="navbar-header">
                                    <div class="navbar-brand">
                                        <h1>
                                            <a href="iiti.ac.in">
                                                <img style="width: 70%; height: 70%;"
                                                src="https://lh3.googleusercontent.com/proxy/NJ-cRlY4_-WuFEev_QEwptd3pgLXKn8kdHk5BzpVOI4dClZqW-CQWAjxmfuFa0z1Jt-ZCJC5aUfpfCIcfikYp323OdR6IjT5oEQ"
                                                alt="LIBRARY" />                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="topbar-info">
                                                <a href="tel:0731-6603424"><i class="fa fa-phone"></i>0731-6603424</a>
                                                <span>/</span>
                                                <a href="mailto:library@iiti.ac.in"><i class="fa fa-envelope"></i>library@iiti.ac.in</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="topbar-links">
                                                <a href="<%=path%>auth/login"><i class="fa fa-lock"></i>Login / Register</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-collapse hidden-sm hidden-xs">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">

                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="<%=path%>">Home</a>

                                        </li>
                                        <li class="dropdown active">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="<%=path%>books">Books</a>
                                        </li>

                                        <li><a href="<%=path%>aboutus">About Us</a></li>
                                        <li><a href="<%=path%>contactus">Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                            <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>Navigation</h4>
                                        <a href="#" class="close"></a>
                                    </li>

                                    <li>
                                        <a href="<%=path%>">Home</a>
                                    </li>
                                    <li>
                                        <a href="<%=path%>books">Books</a>
                                    </li>
                                    <li><a href="<%=path%>aboutus">About Us</a></li>
                                    <li><a href="<%=path%>contactus">Contact Us</a></li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End: Header Section -->

        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2> Books </h2>
                    <span class="underline center"></span>
                    <p class="lead">A room without books is like a body without soul.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="<%=path%>">Home</a></li>
                        <li>Books</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="booksmedia-detail-main">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                <section class="search-filters">
                                    <div class="container">
                                        <div class="filter-box">
                                            <h3>What are you looking for at the library?</h3>
                                            <form class="searchform">
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="keywords"> Search</label>
                                                        <input class="form-control" placeholder="Search by Title"
                                                            id="keywords" name="keywords" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="form-group">
                                                        <select name="category" id="searchcriteria" class="form-control">
                                                            <option>Search by Name</option>
                                                            <option> Search by Author </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control searchbutton" type="submit" value="Search">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                                <!-- End: Search Section -->
                            </div>
                            <table class="searchbooks">

                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

        <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container" style="margin: auto; ">
            <div class="center-content">
                <h2 class="section-title">Follow Us</h2>
                <span class="underline center"></span><br><br>
            </div>
            <ul style="margin: auto; padding-left: 250px;">
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="facebook" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-facebook-f" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="twitter" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-twitter" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="google" href="#" target="_blank"style=" height: 100px;">
                        <span>
                            <i class="fa fa-google-plus" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="linkedin" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-linkedin" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="youtube" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-youtube" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->

        <!-- Start: Footer -->
        <footer class="site-footer">
            <div class="container">
                <div id="footer-widgets">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 widget-container">
                            <div id="text-2" class="widget widget_text">
                                <h3 class="footer-widget-title">About Library</h3>
                                <span class="underline left"></span>
                                <div class="textwidget">
                                    “Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.”
                                </div>
                                <address>
                                    <div class="info">
                                        <i class="fa fa-location-arrow"></i>
                                        <span> IIT Indore, Khandwa Road, SIMROL, <br> District : Indore – 453552, Madhya Pradesh, India</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-envelope"></i>
                                        <span><a href="mailto:library@iiti.ac.in">library@iiti.ac.in</a></span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span><a href="tel:0731-6603424">0731-6603424</a></span>
                                    </div>
                                </address>
                            </div>
                        </div>
                        
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="footer-widget-title">Quick Links</h3>
                                <span class="underline left"></span>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">

                                        <li><a href="<%=path%>">Home</a></li>
                                        <li><a href="<%=path%>books">Books</a></li>
                                        <li><a href="<%=path%>aboutus">About Us</a></li>
                                        <li><a href="<%=path%>contactus">Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                        
                    </div>
                </div>                
            </div>
            
        </footer>
        <!-- End: Footer -->

        <!-- jQuery Latest Version 1.x -->
        <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
        
        <!-- jQuery UI -->
        <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
        
        <!-- jQuery Easing -->
        <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        
        <!-- Mobile Menu -->
        <script type="text/javascript" src="../js/mmenu.min.js"></script>
        
        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" src="../js/harvey.min.js"></script>
        
        <!-- Waypoints - Load Elements on View -->
        <script type="text/javascript" src="../js/waypoints.min.js"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" src="../js/facts.counter.min.js"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" src="../js/mixitup.min.js"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
        
        <!-- Accordion -->
        <script type="text/javascript" src="../js/accordion.min.js"></script>
        
        <!-- Responsive Tabs -->
        <script type="text/javascript" src="../js/responsive.tabs.min.js"></script>
        
        <!-- Responsive Table -->
        <script type="text/javascript" src="../js/responsive.table.min.js"></script>
        
        <!-- Masonry -->
        <script type="text/javascript" src="../js/masonry.min.js"></script>
        
        <!-- Carousel Swipe -->
        <script type="text/javascript" src="../js/carousel.swipe.min.js"></script>
        
        <!-- bxSlider -->
        <script type="text/javascript" src="../js/bxslider.min.js"></script>
        
        <!-- Custom Scripts -->
        <script type="text/javascript" src="../js/main.js"></script>

        <script>
            let path = window.location.origin;
        $(document).ready(function () {
            $(".searchform").submit(function (e) {
                e.preventDefault();
            })

            $(".searchbutton").click(function () {
                $.ajax({
                    type: "POST",
                    url: path + "/getbooksdata", data: { sub: $("#keywords").val(), criteria: $("#searchcriteria").val() }, success: function (result) {
                        console.log(result);
                        $(".searcbooks").find("tr").remove();
                        let s = "";
                        for (let i = 0; i < result.length; i++) {
                            let rating = "<p><strong>Avg. Rating: </strong>";
                            let favbut = "", p = 1, avg, fav, hold, favclas;
                            if (result[i].fav == 1) {
                                fav = 1;
                                favbut = "Favourite <i class='fas fa-heart' style='color: red;'></i>";
                                favclas = "fav"
                            } else {
                                fav = 0;
                                favbut = "Mark as favourite: <i class='far fa-heart'></i>";
                                favclas = "notfav";
                            }
                            avg = result[i].avgRating;
                            console.log(avg);
                            if (result[i].avgRat == null) {
                                avgRat = 0;
                            }
                            while (p <= avg) {
                                rating += "<span><i class='fas fa-star'></i></span>";
                                p++;
                            }
                            while (p <= 5) {
                                rating += "<span><i class='far fa-star'></i></span>";
                                p++;
                            }
                            let userrating = result[i].rating;
                            if (userrating == null) {
                                userrating = 1;
                            }
                            console.log(result[i].ISBN, userrating);
                            p = 1;
                            let opt = "";
                            while (p <= 5) {
                                if (p == userrating) {
                                    opt += `<option selected value='${p}'>${p}</option>`;
                                } else {
                                    opt += `<option value='${p}'>${p}</option>`;
                                }
                                p++;
                            }
                            s += (`<tr><th><div class="booksmedia-detail-box">
                                    <div class="detailed-box">
                                        <div class="col-xs-12 col-sm-5 col-md-3">
                                            <div class="post-thumbnail">
                                                <div class="book-list-icon blue-icon"></div>
                                                <img src="${result[i].image}"
                                                    alt="Book Image">
                                            </div>
                                        </div>
                                        <div  class="col-xs-12 col-sm-7 col-md-6">
                                            <div style="width : 100%;" class="post-center-content">
                                                <h2> ${result[i].title} </h2>
                                                <p><strong>Author : </strong> ${result[i].authors} </p>
                                                <p><strong>ISBN : </strong> ${result[i].ISBN} </p>
                                                ${rating}
                                                <p><strong>Year of Publication :</strong> ${result[i].yearOfPublication} </p>
                                                <p><strong>Category : </strong>${result[i].category} </p>
                                                <div class="form-group">
                                                    <p><strong>Your rating: <select style="width: 50px; display: inline; height: 50px;" value=${result[i].rating}' name="userrating" class="${result[i].ISBN} userrating form-control">
                                                            ${opt}
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 ">
                                            <div class="post-right-content">
                                                <p><strong>Total Copies :</strong> ${result[i].totalCopies} </p>
                                                <p><strong>Holds :</strong> ${result[i].numholds} </p>
                                                <p><strong>No. of copies in shelf :</strong> ${result[i].noOfCopiesOnShelf} </p>
                                                
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div></th></tr>`)
                        }
                        $(".searchbooks").html(s);
                    }
                });
                
            });
            $(document).on('change', '.userrating', (e) => {
                let isbn = e.target.attributes['3'].nodeValue.split(' ')[0];
                let userrate = e.target.value;
                console.log(isbn, userrate);
                $.ajax({
                    type: 'POST',
                    url: path + "/rate",
                    data: {
                        isbn,
                        rating: userrate
                    },
                    success: (result) => {

                    }
                })
            })
        });
        </script>
    </body>

</html>