<!DOCTYPE html>
<html lang="zxx">


<head>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <!-- Title -->
    <title>Home Page</title>

    <!-- Favicon -->
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Mobile Menu -->
    <link href="../css/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="../css/mmenu.positioning.css" rel="stylesheet" type="text/css" />

    <!-- Responsive Table -->
    <link rel="stylesheet" type="text/css" href="../css/responsivetable.css" />

    <!-- Stylesheet -->
    <link href="../style.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Start: Header Section -->
    <header id="header-v1" class="navbar-wrapper inner-navbar-wrapper">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="navbar-header">
                                <div class="navbar-brand">
                                    <h1>
                                        <a href="iiti.ac.in">
                                            <img style="width: 150px; height: 60px;"
                                                src="https://admin.google.com/u/1/ac/images/logo.gif?uid=118001285387843873635&service=google_gsuite"
                                                alt="LIBRARY" />
                                        </a>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="header-topbar hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="topbar-info">
                                            <a href="tel:0731-6603424"><i class="fa fa-phone"></i>0731-6603424</a>
                                            <span>/</span>
                                            <a href="mailto:library@iiti.ac.in"><i
                                                    class="fa fa-envelope"></i>library@iiti.ac.in</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="topbar-links">
                                            <a href="<%=path%>auth/logout"><i class="fa fa-lock"></i>Log Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="navbar-collapse hidden-sm hidden-xs">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Update
                                            Database</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#sectionZ"> Add Books </a></li>
                                            <li><a href="#sectionZ"> Remove Books </a></li>
                                            <li><a href="#sectionZ"> Update Book Details </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled"
                                            href="#sectionZ">Issue Books</a>
                                    </li>
                                    <li>
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#sectionZ">Take
                                            Returned Books</a>
                                    </li>
                                    <li>
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#sectionZ">
                                            Collect Fines </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="mobile-menu hidden-lg hidden-md">
                        <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                        <div id="mobile-menu">
                            <ul>
                                <li class="mobile-title">
                                    <h4>Navigation</h4>
                                    <a href="#" class="close"></a>
                                </li>

                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Update Database</a>
                                    <ul>
                                        <li><a href="#sectionZ"> Add Books </a></li>
                                        <li><a href="#sectionZ"> Remove Books </a></li>
                                        <li><a href="#sectionZ"> Update Book Details </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#sectionZ">Issue Books</a>
                                </li>
                                <li>
                                    <a href="#sectionZ">Take Books</a>
                                </li>
                                <li>
                                    <a href="#sectionZ">Collect Fines</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </nav>
            </div>
        </div>
    </header>
    <!-- End: Header Section -->

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2> Librarian </h2>
                <span class="underline center"></span><br>
                <p class="lead">A room without books is like a body without soul.</p>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->


    <!-- Start: Products Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="booksmedia-detail-main">
                    <div class="container">
                        <div class="row">
                            <section class="search-filters">

                            </section>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <div class="booksmedia-detail-box">
        <div class="table-tabs" id="responsiveTabs">
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th> Data </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <%=name%>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>LibrarianID</td>
                                <td>
                                    <%=id%>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>
                                    <%=address%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="cart-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div class="woocommerce table-tabs" id="responsiveTabs">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><b class="arrow-up"></b><a data-toggle="tab"
                                                        href="#sectionZ"> Add Books </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">
                                                        Remove Books </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionC">
                                                        Update Book Details </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionF"> Issue
                                                        Book </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionG">
                                                        Withdraw Issued Books </a></li>
                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionH">
                                                        Collect Fine </a></li>
                                            </ul>


                                            <div class="tab-content">
                                                <div id="sectionZ" class="tab-pane fade in active">
                                                    <main id="main" class="site-main">
                                                        <div class="contact-main">
                                                            <div class="contact-us">
                                                                <div class="row">
                                                                    <div class="contact-area">
                                                                        <div class="container" >

                                                                            <div
                                                                                class="contact-form bg-light margin-right">
                                                                                
                                                                                <div class="contact-fields">
                                                                                    <form id="addbook" name="contact" action="<%=path%>librarian/addbook" method="POST" >
                                                                                        <div class="row">

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter ISBN"
                                                                                                        name="isbn"
                                                                                                        id="isbn"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Title"
                                                                                                        name="title"
                                                                                                        id="title"
                                                                                                        size="100"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Year of Publication"
                                                                                                        name="year"
                                                                                                        id="year-of-publication"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Number of Copies"
                                                                                                        name="copies"
                                                                                                        id="no-of-copies"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter shelf-ID"
                                                                                                        name="shelfid"
                                                                                                        id="no-of-copies-shelf"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Author"
                                                                                                        name="authors"
                                                                                                        id="author"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Category"
                                                                                                        name="category"
                                                                                                        id="category"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter URL of Book Cover Page"
                                                                                                        name="image"
                                                                                                        id="image"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>


                                                                                            <div class="col-sm-12">
                                                                                                <div
                                                                                                    class="form-group form-submit">
                                                                                                    <button
                                                                                                        type="submit">Add
                                                                                                        Book</button>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="addmess" ></div>
                                                                                        <% if((message !='undefined' )
                                                                                            && (form=='add' )){%>
                                                                                            <div class="alert alert-primary"
                                                                                                role="alert">
                                                                                                <%= message %>
                                                                                            </div>
                                                                                            <% } %>
                                                                                    </form>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </main>
                                                </div>


                                                <div id="sectionB" class="tab-pane fade in">
                                                    <main id="main" class="site-main">
                                                        <div class="contact-main">
                                                            <div class="contact-us">
                                                                <div class="row">
                                                                    <div class="contact-area">
                                                                        <div class="container">

                                                                            <div
                                                                                class="contact-form bg-light margin-right">
                                                                                
                                                                                <div class="contact-fields">
                                                                                    <form id="deletebook" name="contact"
                                                                                    >
                                                                                        <div class="row">

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter ISBN"
                                                                                                        name="isbn"
                                                                                                        id="isbn"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="col-sm-12">
                                                                                                <div
                                                                                                    class="form-group form-submit">
                                                                                                    <button
                                                                                                        type="submit">Delete
                                                                                                        Book</button>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="deletemess"></div>
                                                                                        <% if((message !='undefined' )
                                                                                            && (form=='delete' )){%>
                                                                                            <div class="alert alert-primary"
                                                                                                role="alert">
                                                                                                <%= message %>
                                                                                            </div>
                                                                                            <% } %>
                                                                                    </form>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </main>
                                                </div>


                                                <div id="sectionC" class="tab-pane fade in">
                                                    <main id="main" class="site-main">
                                                        <div class="contact-main">
                                                            <div class="contact-us">
                                                                <div class="row">
                                                                    <div class="contact-area">
                                                                        <div class="container">

                                                                            <div
                                                                                class="contact-form bg-light margin-right">
                                                                                <div class="contact-fields">
                                                                                    <form id="updatebook" name="contact"
                                                                                        >
                                                                                        <div class="row">

                                                                                            <h4>Details Of Book To Be
                                                                                                Updated </h4>
                                                                                            <hr>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter ISBN"
                                                                                                        name="isbn"
                                                                                                        id="isbn"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">

                                                                                            <h4>Updated Details</h4>
                                                                                            <hr>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Title"
                                                                                                        name="title"
                                                                                                        id="title"
                                                                                                        size="100"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter URL of book cover page"
                                                                                                        name="image"
                                                                                                        id="image"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Year of Publication"
                                                                                                        name="year"
                                                                                                        id="year-of-publication"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Number of Copies"
                                                                                                        name="copies"
                                                                                                        id="no-of-copies"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Author"
                                                                                                        name="author"
                                                                                                        id="author"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Category"
                                                                                                        name="category"
                                                                                                        id="category"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Shelf ID"
                                                                                                        name="shelf"
                                                                                                        id="shelf"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-12">
                                                                                                <div
                                                                                                    class="form-group form-submit">
                                                                                                    <button
                                                                                                        type="submit">Update
                                                                                                        Details</button>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="updatemess"></div>
                                                                                        <% if((message !='undefined' )
                                                                                            && (form=='update' )){%>
                                                                                            <div class="alert alert-primary"
                                                                                                role="alert">
                                                                                                <%= message %>
                                                                                            </div>
                                                                                            <% } %>
                                                                                    </form>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </main>
                                                </div>


                                                <div id="sectionF" class="tab-pane fade in">
                                                    <form id="issuebook">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" required="true"
                                                                        type="text" placeholder="Enter ISBN" name="isbn"
                                                                        id="isbn" size="30" value=""
                                                                        aria-required="true" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" required="true"
                                                                        type="text" placeholder="Enter Copy ID"
                                                                        name="copyid" id="copyid" size="30" value=""
                                                                        aria-required="true" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" required="true"
                                                                        type="text"
                                                                        placeholder="Enter User's Registered Email ID"
                                                                        name="email" id="email" size="30" value=""
                                                                        aria-required="true" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-submit">
                                                                    <button type="submit">Issue Book</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="issuemess"></div>
                                                        <% if((message !='undefined' ) && (form=='issue' )){%>
                                                            <div class="alert alert-primary" role="alert">
                                                                <%= message %>
                                                            </div>
                                                            <% } %>
                                                    </form>
                                                </div>


                                                <div id="sectionG" class="tab-pane fade in">
                                                    <main id="main" class="site-main">
                                                        <div class="contact-main">
                                                            <div class="contact-us">
                                                                <div class="row">
                                                                    <div class="contact-area">
                                                                        <div class="container">

                                                                            <div
                                                                                class="contact-form bg-light margin-right">
                                                                                
                                                                                <div class="contact-fields">
                                                                                    <form id="withdrawbook" name="contact"
                                                                                        >
                                                                                        <div class="row">

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter ISBN"
                                                                                                        name="isbn"
                                                                                                        id="isbn"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter Copy ID"
                                                                                                        name="copyid"
                                                                                                        id="copyid"
                                                                                                        size="100"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="col-md-6 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <input
                                                                                                        class="form-control"
                                                                                                        required="true"
                                                                                                        type="text"
                                                                                                        placeholder="Enter User's Registered Email ID"
                                                                                                        name="email"
                                                                                                        id="email"
                                                                                                        size="30"
                                                                                                        value=""
                                                                                                        aria-required="true" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="col-sm-12">
                                                                                                <div
                                                                                                    class="form-group form-submit">
                                                                                                    <button
                                                                                                        type="submit">Return
                                                                                                        Book</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="withdrawmess"></div>
                                                                                        
                                                                                        <% if((message !='undefined' )
                                                                                            && (form=='withdraw' )){%>
                                                                                            <div class="alert alert-primary"
                                                                                                role="alert">
                                                                                                <%= message %>
                                                                                            </div>
                                                                                            <% } %>
                                                                                    </form>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </main>
                                                </div>


                                                <div id="sectionH" class="tab-pane fade in">
                                                    <form id="collectfine">
                                                        <div class="row">

                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" required="true"
                                                                        type="text"
                                                                        placeholder="Enter User's Registered Email ID"
                                                                        name="email" id="email" size="30" value=""
                                                                        aria-required="true" />
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12">
                                                                <div class="form-group form-submit">
                                                                    <button type="submit">Collect Fine</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="finemess"></div>
                                                        
                                                        <% if((message !='undefined' ) && (form=='fine' )){%>
                                                            <div class="alert alert-primary" role="alert">
                                                                <%= message %>
                                                            </div>
                                                            <% } %>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container" style="margin: auto; ">
            <div class="center-content">
                <h2 class="section-title">Follow Us</h2>
                <span class="underline center"></span><br><br>
            </div>
            <ul style="margin: auto; padding-left: 250px;">
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="facebook" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-facebook-f" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="twitter" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-twitter" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="google" href="#" target="_blank"style=" height: 100px;">
                        <span>
                            <i class="fa fa-google-plus" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="linkedin" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-linkedin" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
                <li style="width: 100px; margin: 10px 10px;">
                    <a class="youtube" href="#" target="_blank" style=" height: 100px;">
                        <span>
                            <i class="fa fa-youtube" style="font-size: 50px;"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->


    <!-- Start: Footer -->
    <footer class="site-footer">
        <div class="container">
            <div id="footer-widgets">
                <div class="row">
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div id="text-2" class="widget widget_text">
                            <h3 class="footer-widget-title">About Library</h3>
                            <span class="underline left"></span>
                            <div class="textwidget">
                                Sometimes, you read a book and it fills you with this weird evangelical zeal, and you
                                become convinced that the shattered world will never be put back together unless and
                                until all living humans read the book.
                            </div>
                            <address>
                                <div class="info">
                                    <i class="fa fa-location-arrow"></i>
                                    <span> IIT Indore, Khandwa Road, SIMROL, <br> District : Indore  453552, Madhya
                                        Pradesh, India</span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:library@iiti.ac.in">library@iiti.ac.in</a></span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:0731-6603424">0731-6603424</a></span>
                                </div>
                            </address>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 widget-container">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h3 class="footer-widget-title">Quick Links</h3>
                            <span class="underline left"></span>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>

                                    <li><a href="#sectionZ"> Add Books </a></li>
                                    <li><a href="#sectionZ"> Remove Books </a></li>
                                    <li><a href="#sectionZ"> Update Book Details </a></li>
                                    <li><a href="#sectionZ"> Add Book Copy </a></li>
                                    <li><a href="#sectionZ"> Remove Book Copy </a></li>

                                    <li>
                                        <a href="#sectionZ">Issue Books</a>
                                    </li>
                                    <li>
                                        <a href="#sectionZ">Take Books</a>
                                    </li>
                                    <li>
                                        <a href="#sectionZ">Collect Fines</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>

                </div>
            </div>
        </div>

    </footer>
    <!-- End: Footer -->

    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>

    <!-- jQuery Easing -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- Mobile Menu -->
    <script type="text/javascript" src="../js/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script type="text/javascript" src="../js/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>

    <!-- Facts Counter -->
    <script type="text/javascript" src="../js/facts.counter.min.js"></script>

    <!-- MixItUp - Category Filter -->
    <script type="text/javascript" src="../js/mixitup.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script type="text/javascript" src="../js/accordion.min.js"></script>

    <!-- Responsive Tabs -->
    <script type="text/javascript" src="../js/responsive.tabs.min.js"></script>

    <!-- Responsive Table -->
    <script type="text/javascript" src="../js/responsive.table.min.js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="../js/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script type="text/javascript" src="../js/carousel.swipe.min.js"></script>

    <!-- bxSlider -->
    <script type="text/javascript" src="../js/bxslider.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="../js/main.js"></script>

    <script>
        let path = window.location.origin;
        $('form').submit(e => {
            e.preventDefault();
        })
        $(document).ready(() => {
            $('#collectfine').submit(e => {
                console.log($('#collectfine').serialize());
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: path + '/librarian/fine',
                    data: {
                        data : $('#collectfine').serialize(),
                    },
                    success: (response) => {
                        $('.finemess').html(`<p>${response.message}</p>`);
                        console.log('done');
                    }
                })
            })
            
            $('#withdrawbook').submit(e=>{
                let fdata = $('#withdrawbook').serialize();
                console.log(fdata);
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url : path + '/librarian/withdrawbook',
                    data : {
                        data : fdata
                    },success : (resp)=>{
                        $('.withdrawmess').toggleClass('alert');
                        if(resp.message.length){
                            $('.withdrawmess').toggleClass('alert-success');
                            $('.withdrawmess').html(`<p>${resp.message}</p>`);
                        }else{
                            $('.withdrawmess').toggleClass('alert-danger');
                            $('.withdrawmess').html(`<p>${resp.error}</p>`);
                        }
                        console.log('withdrawn!');
                    }
                })
            })
            $('#issuebook').submit(e=>{
                let fdata = $('#issuebook').serialize();
                console.log(fdata);
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url : path + '/librarian/issuebook',
                    data : {
                        data : fdata
                    },success : (resp)=>{
                        $('.issuemess').toggleClass('alert');
                        if(resp.message.length){
                            $('.issuemess').toggleClass('alert-success');
                            $('.issuemess').html(`<p>${resp.message}</p>`);
                        }else{
                            $('.issuemess').toggleClass('alert-danger');
                            $('.issuemess').html(`<p>${resp.error}</p>`);
                        }
                        console.log('book issued!');
                    }
                })
            })
            $('#updatebook').submit(e=>{
                let fdata = $('#updatebook').serialize();
                console.log(fdata);
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url : path + '/librarian/updatebook',
                    data : {
                        data : fdata
                    },success : (resp)=>{
                        $('.updatemess').toggleClass('alert');
                        if(resp.message.length){
                            $('.updatemess').toggleClass('alert-success');
                            $('.updatemess').html(`<p>${resp.message}</p>`);
                        }else{
                            $('.updatemess').toggleClass('alert-danger');
                            $('.updatemess').html(`<p>${resp.error}</p>`);
                        }
                        console.log('book updated!');
                    }
                })
            })
            $('#deletebook').submit(e=>{
                let fdata = $('#deletebook').serialize();
                console.log(fdata);
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url : path + '/librarian/deletebook',
                    data : {
                        data : fdata
                    },success : (resp)=>{
                        $('.deletemess').toggleClass('alert');
                        if(resp.message.length){
                            $('.deletemess').toggleClass('alert-success');
                            $('.deletemess').html(`<p>${resp.message}</p>`);
                        }else{
                            $('.deletemess').toggleClass('alert-danger');
                            $('.deletemess').html(`<p>${resp.error}</p>`);
                        }
                        console.log('book deleted!');
                    }
                })
            })
            $('#addbook').submit(e=>{
                let fdata = $('#addbook').serialize();
                console.log(fdata);
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url : path + '/librarian/addbook',
                    data : {
                        data : fdata
                    },success : (resp)=>{
                        $('.addmess').toggleClass('alert');
                        if(resp.message.length){
                            $('.addmess').toggleClass('alert-success');
                            $('.addmess').html(`<p>${resp.message}</p>`);
                        }else{
                            $('.addmess').toggleClass('alert-danger');
                            $('.addmess').html(`<p>${resp.error}</p>`);
                        }
                        console.log('book added!');
                    }
                })
            })
        })
    </script>
</body>


</html>